
.login-form {
    width: 340px;
    margin: 0px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 20px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.items{
    margin-right: 20px;
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 40%;
}
.nav-item{
    margin-right:20%;
}
.jumbotron {
    margin-top: 5%;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;


    background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 14%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 14%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 14%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}
.hd1{
    color:#fff;
}

#bouncer{
    background-color: #bf6e4e;
    width: 20%;
}

  .header-font {
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fd1506;
  }
  .fa-facebook{
      color:#3b5998;
  }
  .fa-linkedin{
      color:#0077B5;
  }
  .fa-twitter{
      color:#4099FF;
  }
  .fa-google{
      color:#d34836;
  }
  .bg-primary {
   background-color: #000 !important;
  }
  
  .bg-circle
  {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
  }
  
  .bg-circle-outline
  {
    width: 50px;
    height: 50px;

    padding: 8px 2px;
    border: 2px solid;

    border-radius: 50%;
  }
  
  
  .bg-circle a, a:hover, .media a:focus
  {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
  }
  .bg-circle-outline a, a:hover, .media a:focus
  {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
  }
  .footer {
      background: #EDEFF1;
      height: auto;
      padding-bottom: 30px;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #CCCCCC;
      border-top: 1px solid #DDDDDD;
      width: 100%;
  }
  .footer p {
      margin: 0;
  }
  .footer img {
      max-width: 100%;
  }
  .footer h3 {
      border-bottom: 1px solid #BAC1C8;
      color: #54697E;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      padding: 40px 0 10px;
      text-transform: uppercase;
  }
  .footer ul {
      font-size: 13px;
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 15px;
      color: #7F8C8D;
  }
  .footer ul li a {
      padding: 0 0 5px 0;
      display: block;
  }
  .footer a {
      color: #78828D
  }

  #nextBtn
  {
      float:right;
  }

